<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684118539773-sgo6938ht12ppelkgdpl5afbaod2lk6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684118539773-sgo6938ht12ppelkgdpl5afbaod2lk6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCQIieQWDNd_kxTgC9mz62Vx2Bjf9ONTDs</string>
	<key>GCM_SENDER_ID</key>
	<string>684118539773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cesar.AutoInspector</string>
	<key>PROJECT_ID</key>
	<string>autoinspector-20dd9</string>
	<key>STORAGE_BUCKET</key>
	<string>autoinspector-20dd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684118539773:ios:48e68e2e6c85e2fc98ad94</string>
	<key>DATABASE_URL</key>
	<string>https://autoinspector-20dd9.firebaseio.com</string>
</dict>
</plist>